# 1. Import packages

In [65]:
import os
import pandas as pd

# 2. Read a TXT

## 2.1. Change to input directory

In [2]:
print(os.getcwd())
input_path_s = "/input/"
input_path_s = os.getcwd() + input_path_s
output_path_s = "/output/"
output_path_s = os.getcwd() + output_path_s
os.chdir(input_path_s)
print(os.getcwd())

/Users/immanuel/Documents/NEU/05_Spring_2022/CS7675_ResAppr/tasks/MyLab/task18_tracker_domain_tracker
/Users/immanuel/Documents/NEU/05_Spring_2022/CS7675_ResAppr/tasks/MyLab/task18_tracker_domain_tracker/input

## 2.2. Read additional-trackers-all-sources.txt

In [3]:
tracker_df = pd.read_csv("additional-trackers-all-sources.txt", header=None)
print(tracker_df.shape)

(273, 1)

In [4]:
tracker_l = list(tracker_df[0])
del tracker_df
print(len(tracker_l))
print(tracker_l[:10])

273
['fwmrm.net', 'ad.gt', 'teads.tv', 'dotomi.com', 'ads-twitter.com', 'intelligenceadx.com', 'strossle.com', 'adskeeper.com', 'pagefair.net', 'crm4d.com']

## 2.3. Read measurement_ids_kicho_tracker.txt

In [5]:
target_domain_df = pd.read_csv("measurement_ids_kicho_tracker.txt", header=None)
print(target_domain_df.shape)

(494261, 6)

In [6]:
target_domain_df

             0   1      2                             3           4      5
0            0  de  39835             www.instagram.com  42506263.0  False
1            1  de  39835                   twitter.com  42506264.0   True
2            2  de  39835                   s0.2mdn.net  42506265.0  False
3            3  de  39835                www.clarity.ms  42506266.0  False
4            4  de  39835                 www.filmix.ac  42506267.0  False
...        ...  ..    ...                           ...         ...    ...
494256  494256  cz  44489            cdn.speedcurve.com  43832951.0  False
494257  494257  cz  44489                  img.kurzy.cz  43832953.0  False
494258  494258  cz  44489             report.prozeny.cz  43832954.0  False
494259  494259  cz  44489                   pro.mapy.cz  43832955.0  False
494260  494260  cz  44489  region1.analytics.google.com  43832956.0   True

[494261 rows x 6 columns]

In [7]:
target_domain_df.columns = ["seq", "country", "asn", "target_domain", "measurement_id", "is_tracker"]

In [8]:
target_domain_df.head(5)

   seq country    asn      target_domain  measurement_id  is_tracker
0    0      de  39835  www.instagram.com      42506263.0       False
1    1      de  39835        twitter.com      42506264.0        True
2    2      de  39835        s0.2mdn.net      42506265.0       False
3    3      de  39835     www.clarity.ms      42506266.0       False
4    4      de  39835      www.filmix.ac      42506267.0       False

# 3. Validate the current input files

## 3.1 All FLD in tracker_l?

In [9]:
for tracker in tracker_l:
    if tracker.count(".") > 1:
        print(tracker)

adskeeper.co.uk
anm.co.uk
dmgmediaprivacy.co.uk
google.com.sv
google.com.tr

## 3.2. How many true in the last column in target_domain_df?

In [10]:
target_domain_df["is_tracker"].value_counts()

False    401228
True      93033
Name: is_tracker, dtype: int64

In [11]:
target_domain_df["is_tracker"].value_counts(normalize=True)

False    0.811774
True     0.188226
Name: is_tracker, dtype: float64

## 3.3. Is tracker_l unique?

In [12]:
print(len(set(tracker_l)) == len(tracker_l))
print(len(set(tracker_l)) - len(tracker_l))

False
-1

### 3.3.1. Use tracker_set

In [13]:
tracker_set = set(tracker_l)

# 4. is_more_tracker_l: The crux of this entire code.

In [14]:
is_more_tracker_l = [False] * len(target_domain_df)

for tracker in tracker_set:
    for i, target_domain in enumerate(target_domain_df["target_domain"]):
        if tracker in target_domain:
            is_more_tracker_l[i] = True

print(len(is_more_tracker_l) == len(target_domain_df))
print(pd.DataFrame(is_more_tracker_l).value_counts())
print(is_more_tracker_l[:20])

True
False    436656
True      57605
dtype: int64
[False, False, True, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False]

# 5. is_new_tracker_l

## 5.1. is_new_tracker_l

In [15]:
target_domain_df["is_tracker"].value_counts()

False    401228
True      93033
Name: is_tracker, dtype: int64

In [16]:
is_new_tracker_l = [None] * len(target_domain_df)
discovery_l = []

for index, original_tracker in enumerate(target_domain_df["is_tracker"]):
    if original_tracker is True:
        is_new_tracker_l[index] = True
    elif original_tracker is False and is_more_tracker_l[index] is True:
        discovery_l.append(index)
        is_new_tracker_l[index] = True
    else:
        is_new_tracker_l[index] = False

print(len(is_new_tracker_l) == len(target_domain_df))
print(pd.DataFrame(is_new_tracker_l).value_counts())
print(is_new_tracker_l[:20])

True
False    343776
True     150485
dtype: int64
[False, True, True, False, False, False, False, False, False, False, False, True, False, True, False, True, True, False, False, False]

In [17]:
list(target_domain_df["is_tracker"]).count(True) < is_new_tracker_l.count(True)

True

## 5.2. List of newly discovered target_main

In [18]:
len(discovery_l)

57452

In [19]:
# Is any of the pre-existing tracker True? There should be no True.
# Thus, False would be an output from this any()
any(target_domain_df.iloc[discovery_l, target_domain_df.columns == "is_tracker"].squeeze())

False

In [20]:
new_tracker_target_domain_df = target_domain_df.iloc[discovery_l, target_domain_df.columns == "target_domain"]
new_tracker_target_domain_df

                     target_domain
2                      s0.2mdn.net
11       www.googletagservices.com
46                 ad.yieldlab.net
53          gdpr-tcfv2.sp-prod.net
62                 tags.tiqcdn.com
...                            ...
494233                  trackad.cz
494234  aax-eu.amazon-adsystem.com
494235               js.adscale.de
494242                d46-a.sdn.cz
494247                d21-a.sdn.cz

[57452 rows x 1 columns]

# 6. Output dfs

## 6.1. new_target_domain_df

In [21]:
target_domain_df

,seq,country,asn,target_domain,measurement_id,is_tracker
0,0,de,39835,www.instagram.com,42506263.0,False
1,1,de,39835,twitter.com,42506264.0,True
2,2,de,39835,s0.2mdn.net,42506265.0,False
3,3,de,39835,www.clarity.ms,42506266.0,False
4,4,de,39835,www.filmix.ac,42506267.0,False
...,...,...,...,...,...,...
494256,494256,cz,44489,cdn.speedcurve.com,43832951.0,False
494257,494257,cz,44489,img.kurzy.cz,43832953.0,False
494258,494258,cz,44489,report.prozeny.cz,43832954.0,False
494259,494259,cz,44489,pro.mapy.cz,43832955.0,False
494260,494260,cz,44489,region1.analytics.google.com,43832956.0,True

In [22]:
new_target_domain_df = target_domain_df.loc[:, target_domain_df.columns != "is_tracker"]
new_target_domain_df

           seq country    asn                 target_domain  measurement_id
0            0      de  39835             www.instagram.com      42506263.0
1            1      de  39835                   twitter.com      42506264.0
2            2      de  39835                   s0.2mdn.net      42506265.0
3            3      de  39835                www.clarity.ms      42506266.0
4            4      de  39835                 www.filmix.ac      42506267.0
...        ...     ...    ...                           ...             ...
494256  494256      cz  44489            cdn.speedcurve.com      43832951.0
494257  494257      cz  44489                  img.kurzy.cz      43832953.0
494258  494258      cz  44489             report.prozeny.cz      43832954.0
494259  494259      cz  44489                   pro.mapy.cz      43832955.0
494260  494260      cz  44489  region1.analytics.google.com      43832956.0

[494261 rows x 5 columns]

## 6.2. Add a column

In [23]:
new_target_domain_df["is_new_tracker"] = is_new_tracker_l
new_target_domain_df

,seq,country,asn,target_domain,measurement_id,is_new_tracker_l
0,0,de,39835,www.instagram.com,42506263.0,False
1,1,de,39835,twitter.com,42506264.0,True
2,2,de,39835,s0.2mdn.net,42506265.0,True
3,3,de,39835,www.clarity.ms,42506266.0,False
4,4,de,39835,www.filmix.ac,42506267.0,False
...,...,...,...,...,...,...
494256,494256,cz,44489,cdn.speedcurve.com,43832951.0,False
494257,494257,cz,44489,img.kurzy.cz,43832953.0,False
494258,494258,cz,44489,report.prozeny.cz,43832954.0,False
494259,494259,cz,44489,pro.mapy.cz,43832955.0,False
494260,494260,cz,44489,region1.analytics.google.com,43832956.0,True

# 7. Sanity Check

In [62]:
sanity_check_df = new_target_domain_df[["target_domain", "is_new_tracker"]]
sanity_check_df = sanity_check_df.sort_values(by="target_domain")
sanity_check_df = sanity_check_df.reset_index(drop=True)
print(sanity_check_df)

                                            target_domain  is_new_tracker
0       0002ef56d2c36b3315aeec9d9463703c.safeframe.goo...            True
1       00036b125863effb351e99df49faae0b.safeframe.goo...            True
2       0003c659403d033f1a571364cbe76e38.safeframe.goo...            True
3       0005411b011b785b82253cf23efb3ed8.safeframe.goo...            True
4       0007775d4d08874afa37e5e80743ec11a391ae0bb1f810...            True
...                                                   ...             ...
494256  zzn11mlfqj1wu89ixcvzpvdditey61659888169.nuid.i...            True
494257  zzpm1e2a1zkqwfmg2zemlkcjkgnkd1659876170.nuid.i...            True
494258  zzuww23heszseumt2koxyvvg7xtzh1659958571.nuid.n...            True
494259  zzvpgcjgzueh78etb7lqarrbkref11659845481.nuid.i...            True
494260  zzwthiostbmynhdupqcewzhjut5tl1658207632.nuid.n...            True

[494261 rows x 2 columns]

In [64]:
target_domain_s = ""
inconsistent_target_domain_set = set()

for i in range(len(sanity_check_df)):
    if sanity_check_df["target_domain"][i] != target_domain_s:
        is_new_tracker_bool = sanity_check_df["is_new_tracker"][i]
    else:
        if sanity_check_df["is_new_tracker"][i] != is_new_tracker_bool:
            inconsistent_target_domain_set.add(sanity_check_df["target_domain"][i])

# It should print an empty set.
print(inconsistent_target_domain_set)

set()

# 8. Save as TXT

## 8.1. Save new_target_domain_df as TXT

In [24]:
os.chdir(output_path_s)
print(os.getcwd())

In [25]:
new_target_domain_df.to_csv("measurement_ids_kicho_tracker_20221007.txt", header=False, index=False)

## 8.2. Save new_tracker_target_domain_df as TXT

In [26]:
new_tracker_target_domain_df.to_csv("new_tracker_target_domain_20221007.txt", header=False, index=False)